<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Media</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />-->
    <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
</head>
<body>

<nav class="navbar">
    <div class="container">
        <div class="item">
            <ul class="nav">
                <li><a class="active" th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/home/profile}">Profile</a></li>
                <li><a th:href="@{/home/friends}">Friends</a></li>
                <li> <a th:href="@{/logout}">Log Out</a></li>
                <li>
                    <div class="search-container">
                        <form method="POST" th:action="@{/home/search}">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper-div">
    <div class="container">
        <div class="main-body">
            <h1 >Welcome to Travel media</h1>
            <div class="create-post-class">
                <div class="delete-and-back-section">
                    <a th:href="@{'/post/delete/'+${postDto.getId()}}">Delete?</a>
                    <a th:href="@{/home}">Back?</a>
                </div>
                <form method="POST" th:action="@{/post/edit}" id="editPostForm" th:object="${postDto}">
                    <div th:if="${#fields.hasErrors()}">
                        <span class="validationError">
                            Please correct the problems below and resubmit.
                        </span>
                    </div>

                    <input name="id" th:value="${postDto.getId()}" type="hidden"/>

                    <div class="form-body">
                        <div class="form-body-section">
                            <label for="status">Post a Status</label>
                            <textarea name="status" id="status" th:text="${postDto.getStatus()}"></textarea>
                            <span class="validationError" th:if="${customError.customErrors.containsKey('status')}">Status not empty</span>
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('status')}"
                                  th:errors="*{status}">status Error</span>
                        </div>
                        <div class="form-body-section">
                            <div class="margin-top-div">
                                <label>choose privacy</label>
                            </div>
                            <div class="privacy-section">
                                <div id="choose-id" th:each="privacy : ${privacyDto.getPrivacies()}">
                                    <div th:if="${privacy.equals(postDto.getPrivacy())}">
                                        <input name="privacy" type="radio" th:value="${privacy}"  checked/>
                                        <span th:text="${privacy}">Public</span>
                                    </div>
                                    <div th:if="${!privacy.equals(postDto.getPrivacy())}">
                                        <input name="privacy" type="radio" th:value="${privacy}"  />
                                        <span th:text="${privacy}">Public</span>
                                    </div>
                                </div>
                                <span class="validationError"
                                      th:if="${#fields.hasErrors('privacy')}"
                                      th:errors="*{privacy}">privacy Error</span>
                            </div>
                        </div>
                        <div class="form-body-section">
                            <div class="margin-top-div" th:object="${locationList}">
                                <label>Check in</label>
                                <select name="location" >
                                    <option th:each="location : ${locationList}" th:text="${location.getName()}" th:selected="${location.getName().equals(postDto.getLocation()) }"></option>
                                </select>
                            </div>
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('location')}"
                                  th:errors="*{location}">location Error</span>
                        </div>
                        <div class="form-body-section">
                            <div class="margin-top-div">
                                <input type="submit" value="post"/>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>