<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Media</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="log-reg-wrapper-div">
    <div class="wrapper-div-img"></div>
    <div class="container">
        <div class="log-reg-box">
            <h1>Travel Media</h1>
            <p>
                New here? Click <a th:href="@{/auth/register}"> here</a> to register.
            </p>
            <br/>
            <span class=validationError th:if="${param.get('error')}">
                Unable to login. Check your username and password.
            </span>
            <h3>Sign in</h3>
                <form class="login-section" method="POST" th:action="@{/login}" id="loginForm">
                    <div class="form-div">
                        <div class="login-reg-flex">
                            <label for="username">mail </label>
                            <input type="text" name="username" id="username" />
                        </div>
                        <div class="login-reg-flex">
                            <label for="password">password </label>
                            <input type="password" name="password" id="password" />
                        </div>
                        <div class="common-button">
                            <input type="submit" value="Login"/>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>
</body>
</html>